# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.manifest
*.spec

# ---- Virtual Environment ----
venv/
.env

# ---- Dependency Management ----
# Keep Pipfile but ignore lock file if not required
Pipfile.lock

# ---- IDE & Editor ----
.vscode/
.idea/

# ---- OS Specific ----
.DS_Store
Thumbs.db